:root {
  --branding-color: rgb(247, 147, 29);
  --text-color: rgb(229, 224, 224);
  --branding-font: "Bodoni Moda", serif;
  --second-branding-font: "Roboto", sans-serif;
}

body {
  background: #020414;
}

.logo {
  width: 130px;
}

nav {
  margin-top: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  margin-right: 10px;
}
nav a {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
  font-family: "Bodoni Moda", serif;
  font-size: 17px;
}

nav a:hover {
  color: var(--branding-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--branding-font);
  color: var(--branding-color);
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
  text-align: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 30px;
}

h3 {
  font-size: 25px;
  text-align: start;
}

h4 {
  font-size: 20px;
  text-align: start;
}

p {
  font-size: 18px;
  font-family: var(--branding-font);
  color: var(--text-color);
  text-align: justify;
}

p a {
  font-size: 18px;
  font-family: "Bodoni Moda", serif;
  text-decoration: none;
  color: var(--text-color);
}

.choir-formation {
  font-size: 18px;
  font-family: "Bodoni Moda", serif;
  color: var(--text-color);
  text-align: justify;
  list-style: inside;
}

.img-di-lorenzo,
.img-orlando {
  display: block;
  margin: 0 auto;
  width: 400px;
}

section img {
  display: block;
  margin: 0 auto;
  text-align: start;
  padding: 20px;
  width: 700px;
  border-radius: 3px;
}

section ul {
  font-size: 18px;
  font-family: "Bodoni Moda", serif;
  color: var(--text-color);
  text-align: center;
  list-style: none;
  padding: 2px;
}

footer {
  background: white;
}

footer h3 {
  font-family: var(--second-branding-font);
  text-align: center;
  color: black;
}

footer h4 {
  font-family: var(--second-branding-font);
  text-align: center;
  margin-left: 15px;
  font-size: 20px;
  color: black;
}

footer li {
  text-align: start;
  list-style: none;
  padding: 2px;
}

footer a {
  font-size: 18px;
  font-family: var(--second-branding-font);
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: #0000cc;
}

footer p {
  font-size: 18px;
  font-family: var(--second-branding-font);
  color: black;
  text-decoration: none;
}

footer {
  padding-top: 20px;
  margin-top: 70px;
}

.social i {
  margin-top: 20px;
  padding: 10px;
  display: inline;
  color: #0000cc;
  font-size: 35px;
}

.social a {
  text-decoration: none;
}
